# Ignorar arquivos de configuração do Spring Boot
/src/main/resources/application.properties
/src/main/resources/application-*.properties

# Ignorar outros arquivos comuns
*.log
*.tmp

# Ignorar diretórios de compilação
/target/
/out/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar configurações do IDE
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# Ignorar arquivos de dependências
/.mvn/
/node_modules/
package-lock.json
yarn.lock
